<mat-toolbar color="primary" class="flex items-center justify-center">
  <mat-toolbar-row>
    <img src="../../assets/images/Mapacherama.png" alt="Company Logo" class="rounded-lg h-100 w-40">
    <h1 color="secondary" class="ml-2">Where your Journey to Self-Improvement Begins...</h1>
    <div class="flex items-center ml-auto header-search">
      <mat-form-field class="flex mr-2">
        <input matInput placeholder="Search">
        <fa-icon [icon]="['fas', 'search']" class="search-icon -ml-4"></fa-icon>
      </mat-form-field>
      <fa-icon [icon]="['fas', 'shopping-cart']" class="rounded-full border border-white p-2 ml-2 flex items-center justify-center"></fa-icon>
    </div>
    <!-- Add any additional items like navigation links or buttons here. -->
  </mat-toolbar-row>
</mat-toolbar>
