<section class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">Your Journey to Self-Improvement Begins Here</h1>
    <span class="hero-subtitle"
      >Welcome to the SelfHelp Webstore! We're proud to be your trusted online
      destination for everything related to self-improvement. Born out of a
      passion for personal development, our Angular-based webstore is more than
      just an e-commerce platform – it's a community for those who believe in
      becoming the best version of themselves.</span
    >
    <a mat-button color="primary" routerLink="/shop">Shop Now</a>
  </div>
</section>
